* {
    font-family: 'Bungee', cursive;
    background-color: #2A4B5A;
}

body {
    display: flex;
    justify-content: center;
}

body nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    background-color: #31827B;
}


body nav h1{
    color: #110C0B;
    background-color: #31827B;

}